.media-container {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	border-radius: 50%;
	overflow: hidden;
	width: 180px;
	height: 180px;  
	vertical-align: middle;
    object-fit: cover;
}
.media-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 180, 180, 0.6);
}
#media-input {
  display: block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  opacity: 0;
  position: relative;
  z-index: 9;
}
.media-icon {
  display: block;
  color: #ffffff;
  font-size: 2em;
  height: 200px;
  line-height: 200px;
  position: absolute;
  z-index: 0;
  width: 100%;
  text-align: center;
  top: 0;
}
.media-object {}
.img-object {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: block;  
  object-fit: cover;    
  border: 1px solid silver;
}
.media-control {
	margin-top: 30px;
}
	.edit-profile {}
	.save-profile {}
/* button */
.btn.edit-profile , .btn.save-profile {
    margin:10px 3px;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.btn > i{
  color: #555;
  font-size:12px !important;
  margin-right:10px;
  
}
.avatar-upload {
  position: relative;
  max-width: 100%;
  margin: 20px 0 50px 0;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 10px;
    z-index: 1;
    bottom: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    font: normal normal normal 16px/1 "Material Design Icons";
    content: "\f0deb";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 10px;
  border: 2px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-pic > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}
/* .profile-pic{
    margin-top: -120px !important;
} */
span.c-link.js-toggleForm {
    position: absolute;
    right: 2%;
    text-transform: capitalize;
    top: 0;
}
textarea#about_admin {
    width: 100%;
    padding: 0.45rem 0.9rem;
}
.adminprofile-top  , .status_active{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.status_active p {
    margin: 0;
    padding-right: 10px;
}
.range {
    position: relative;
    width: 80%;
    height: 5px;
  }
  .range input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
  }
  .range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #536de6;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-moz-range-thumb {
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #536de6;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-ms-thumb {
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #536de6;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-webkit-slider-runnable-track {
    width: 80%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
  }
  .range input::-moz-range-track {
    width: 80%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
  }
  .range input::-ms-track {
    width: 80%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
  }
  .range input:focus {
    background: none;
    outline: none;
  }
  .range input::-ms-track {
    width: 80%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
  }
  .range-labels li {
    position: relative;
    float: left;
    width: 17%;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
  }
  .range-labels .active {
    color: #536de6;
  }
  .range-labels .selected::before {
    background: #536de6;
  }
  .range-labels .active.selected::before {
    display: none;
  }
  .user_documents li{
      list-style: none;
  }
  .user_documents{
      padding-left: 0px;
  }
  .custom-file {
    position: relative;
    font-family: arial;
    overflow: hidden;
    margin-bottom: 10px;
    width: auto;
    display: inline-block;
    padding: 10px;
  }
  .custom-file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
  }
  .custom-file img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  ul.file-list {
    font-family: arial;
    list-style: none;
    padding: 0;
  }
  ul.file-list li {
    border-bottom: 1px solid #ddd;
    padding: 5px;
  }
  .remove-list {
    cursor: pointer;
    margin-left: 10px;
  }
  .gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
   }
   
   .gallery img{
    cursor: pointer;
    height: 300px;
    object-fit: cover;
   }
   
   #lightbox{
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
   }
   
   #lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   #lightbox img{
     height: 70%;
   }
   .text-right {
    text-align: right;
}
.IMGthumbnail{
  max-width:180px;
  height:220px;
  margin:auto;
background-color: #ececec;
padding:0px;
position: relative;
}

.IMGthumbnail img{
 max-width:100%;
max-height:100%;
height: 100%;
object-fit: cover;
width: 100%;
}

.imgThumbContainer{
width: 180px;
height:240px;
padding:5px;
margin:5px;
border: solid;
display: inline-block;
float:left;
border-color: #536de6;
}
.close_btn {
  display: inline-block;
  background: #536de6;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  color: white;
  right: 0;
}

.imgThumbContainer > .imgName{
text-align:center;
padding: 2px 6px;
}
#map {
  height: 100%;
  margin-left: 0em;
  border: 2px solid black;
  margin-top: 0em;
  height: 400px;
  width: 800px;
}
.tab-menu{
  margin-bottom: 2%;
}
.tab-menu ul{
	margin: 0;
	padding: 0;
}
.tab-menu ul li{
	list-style-type: none;
	display: inline-block;
}

.tab-menu ul li a.active-a{
	background-color: #133af0;
	color: #ffffff;
}
.tab{
	display: none;
}

.tab-active{
	display: block;
}
.add_patient_btn i , .patient_setting_btn i{
  font-size: 14px !important;
  margin: 0;
}
/* CSS BY WALI */
.del_gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deleteGall{
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin: 0px 6px 5px 0px;
  border-radius: 0.25rem;
  width: 100%;
  cursor: pointer;
}
.deleteGall > i{
  color: #FFF !important;
  font-size: 14px !important;
}
